/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Normalize for cross browsing*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
 
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    /* padding: 30px; */
    padding: 3rem;

    box-sizing: border-box;
}

.header {
    height: 95vh;
    /* lg, opa */
    background-image: linear-gradient( to right bottom, rgba(126, 213, 111, 0.8), rgb(40, 180, 133, 0.8)), url(../img/hero.jpg); 
    background-size: cover;
    background-position: top;
    /* 다시 올라가서 logo-box의 레퍼런스/ 기준이 되는 header에 relative positioning. */
    position: relative;
    
    
    /* 시작 세팅
    clip-path: polygon(x y, x y, x y, x y) 로 시작.
    값 입력하기
    1. 상단 좌측 포인트 > 변화 없으므로 0,0
    clip-path: polygon(0 0, x y, x y, x y);
    2. 상단 우측 포인트 > x축은 끝까지 늘림, y축 변화없음(자르지 않음) > 100%, 0
    clip-path: polygon(0 0, 100% 0, x y, x y);
    3. 하단 우측 포인트 > x축 전체표현 y는 일부 잘림 > 0, 50% (또는 200px)
    clip-path: polygon(0 0, 100% 0, 100% 200px, 0 100%);
    4. x축은 그대로 0, y축은 100퍼 늘림 
    clip-path: polygon(0 0, 100% 0, x y, x y);
    */

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* 이후 수치는 개발자 도구에서 변경해보기 */

} 

.header__logo-box {
    position: absolute;
    /* top: 40px; left: 40px; */
    top: 4rem; 
    left: 4rem;
}
/* 로고 사이즈 설정- 높이만 맞추면 브라우저가 자동 사이징 */
.header__logo {
    /* height: 35px; */
    height: 3.5rem;
}
.logo:hover{
    animation: moveInLeft 1s ease-out;
}

.header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    /* 버튼에 중앙 정렬 */
    text-align: center;
}

.heading-primary{
    color:#fff;
    text-transform: uppercase;
    /* margin-bottom: 60px; */
    margin-bottom: 6rem;
}
.heading-primary--main {
    display: block;
    /* font-size: 60px; */
    font-size: 6rem;
    /* letter-spacing: 35px; */
    letter-spacing: 3.5rem;
  
    animation-name: moveInLeft;
  /* 이 부분 수정, 추가 */
    animation-duration: 1s;
    /* 제자리에 있다가 시작 느리게
    animation-delay: 3s;  */
    /* 같은 동작 반복
    animation-iteration-count: 3; */
    /* 애니메이션 효과를 처음엔 빠르고 나중에 느리게함 - ease-out : mdn 참고 */
    animation-timing-function: ease-out;
}
.heading-primary--sub {
    display: block;
    /* font-size: 20px; */
    font-size: 2rem;
    font-weight: 700;
    /* letter-spacing: 17.4px; */
    letter-spacing: 1.75rem;    

    animation: moveInRight 1s ease-out;
    /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; */

    /* 자세히보면 이거 없을때 약간 상승하면서 흔들리는 증상 해결하는 핵이라네요. */
    backface-visibility: hidden;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        /* transform: translateX(-100px); */
        transform: translateX(-10rem);
    }
    /* 중간에 뭐가 있었으면 한다면 */
    80%{
        /* transform: translateX(20px); */
        transform: translateX(2rem);
    } 
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        /* transform: translateX(100px) rotate(-50deg); */
        /* transform: translateX(10rem) rotate(-50deg); */
        transform: translateX(10rem);
    }
    /* 중간에 뭐가 있었으면 한다면 */
    80%{
        /* transform: translateX(-10px); */
        transform: translateX(-1rem);
    } 
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        /* transform: translateY(30px); */
        transform: translateY(3rem);
    }
    /* 중간에 뭐가 있었으면 한다면 */

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    /* normalize */
    text-decoration: none;
    display: inline-block;
    /* 설정 */
    text-transform: uppercase;
    /* padding: 15px 40px;
    border-radius: 100px; */
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    
    animation: all .2s;
    position: relative;
}
.btn:hover {
    transform: translateY(-3px);
    /* box-shadow: 0 10px 20px, rgba(0, 0,0,.2); */
    box-shadow: 0 1rem 2rem, rgba(0, 0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, .2); */
    box-shadow: 0px .5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    
    /* test - 이부분 안먹이면 스케일이 작동을 안함 */
    height: 100%;
    width: 100%;
    /* border-radius: 100px; */
    border-radius: 10rem;
    position: absolute;
    /* ~ 여기까지 할경우 하단으로 버튼 사이즈만 증가 - 그림참조 */

    /* test - 기준점 안주면 제멋대로감 */
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; 
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /* 애니메이션으로 사라지는 효과를 주기 위해 0으로 둠. 수를 두면 유지. */
    opacity: 0;
}

.btn--white.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}